name: {{ conda_env_name }}
channels:
  - conda-forge
  - defaults
dependencies:
  - compilers
  - python
  - openmpi
  - libnetcdf
  - netcdf-fortran
  - jupyterlab
  - jupyterlab-git
  - jupyterlab-favorites
  - ipywidgets
  - metview
  - metview-python
  - nodejs
  - pandas
  - xarray
  - seaborn
  - pyspharm
  - pyfftw
  - joblib
  - tqdm
  - gmsh
  - perl
  - perl-xml-parser
  - git
  - boost
  - plotly
  - yaml
  - pyyaml
  - pip
  - pip:
    - eccodes
